*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

.box1{
    background: red;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 20px;
}

.box2{
    background: blue;
    display: inline-block;
    width: 100px;
    height: 100px;
}
