*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

.box{
    width: 500px;
    height: 500px;
    background: red;
}

.box:hover .content{
    color: white;
    font-size: 30px;
}

.content{
 transition: 1s;
}


.box input:focus{
    width: 300px;
}


.box .input{
    transition: 1s;
    width: 100px;
}